body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0 0 0 0; 
    padding-top: 60px;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #004080;
    color: white;
    padding: 10px 20px;
    position: fixed; 
    top: 0;         
    width: 100%;     
    z-index: 1000; 
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 30px;
    
}

nav ul li {
    margin: 0;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

nav ul li a:hover {
    text-decoration: underline;
}
.tabs {
    background-color: #f9f9f9;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px 20px;
}

.tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.tab-item {
    font-size: 16px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tab-item a {
    text-decoration: none;
    color: inherit;
}

.tab-item:hover {
    color: #555;
}

.tab-item.active {
    color: black;
    position: relative;
}

.tab-item.active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: red;
}



.records-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    text-align: left;
    background-color: rgba(240, 248, 255, 0.9);
}

.records-table thead {
    background-color: #004080;
    color: white;
}

.records-table th, .records-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.records-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.records-table tbody tr:hover {
    background-color: rgba(200, 230, 255, 0.5);
}

.records-table th {
    font-size: 18px;
    font-weight: bold;
}